.loading {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000;
  opacity: .7;
  text-align: center;
  color: #FFF;
  padding: 8px 0;
}

.filter {
  margin: 40px 40px 20px;
  padding-bottom: 20px;
  border-bottom: #aaa 1px solid;
}

.articles {
  margin: 20px 40px 20px 40px;
}

.articles article {
  border-bottom: #555555 1px solid;
}

.articles img {
  height: 250px;
  margin-bottom: 10px;
}

article p {
  padding: 10px 0;
}

.user {
  font-weight: 600;
  color: #808080;
  display: flex;
  align-items: center;
}

.user img {
  width: 32px;
  height: 32px;
  margin: 10px;
  border-radius: 50%;
  font-size: 8px;
}

.error {
  display: flex;
  justify-content: center;
}

.error > div:not(.spacer) {
  margin: 20px;
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #eee;
  color: #000;
  cursor: pointer;
}

.spacer {
  height: 104px;
}
